<mat-card class="student-card flat">
  <div class="student-card-content">
    <img *ngIf="imageUrl; else defaultIcon" [src]="imageUrl" class="student-avatar" />
    <ng-template #defaultIcon>
      <mat-icon class="default-icon">account_circle</mat-icon>
    </ng-template>

    <div class="info-section">
      <div><strong>Nom:</strong> Ahmad Bin Yusuf</div>
      <div><strong>Classe:</strong> 4ème A</div>
      <div><strong>Prof:</strong> M. Ali Souissi</div>
      <div><strong>Réci:</strong> Al-Baqarah (1–10)</div>
      <div><strong>Âge:</strong> 10 ans</div>
    </div>
  </div>
</mat-card>
