 <!-- <div class="white-container header-card">
    <header class="dashboard-header">
      <div class="header-content">
        <div class="header-title">
          <div class="title-group">
            <h1>TASMII</h1>
          </div>
        </div>
      </div>
    </header>
  </div> -->

  <div class="white-container header-card">
  <header class="dashboard-header">
    <div class="header-content">
      <!-- Title -->
      <div class="header-title">
        <h1 class="header-text">Tasmii de {{ studentName }}</h1>
      </div>
      <!-- Center toggle -->
      <div class="toggle-section">
        <span [class.active-mode]="!isRevision">Apprentissage</span>
        <mat-slide-toggle [(ngModel)]="isRevision" color="accent" class="styled-toggle"></mat-slide-toggle>
        <span [class.active-mode]="isRevision">Révision</span>
      </div>

      <!-- Homework button -->
      <button mat-raised-button class="blink-homework-btn"(click)="openModalHomework()">
        Préparer Homework
      </button>
    </div>
  </header>
</div>
