<div class="history-dropdown">
  <button mat-button class="history-toggle" (click)="toggleDropdown()">
    <mat-icon class="history-icon">history</mat-icon>
    Historique des récitations
    <mat-icon>{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
  </button>

  <div [class.open]="isOpen" class="history-menu">
    <div class="recitation-row" *ngFor="let r of recitations">
      <mat-icon class="book-icon">book</mat-icon>
      <div class="recitation-details">
        <div class="surah-name">Sourate {{ r.surah }}</div>
        <div class="ayah-range">Ayah {{ r.ayahStart }} → {{ r.ayahEnd }}</div>
      </div>
<span class="rating" [ngClass]="getRatingClass(r.rating)">{{ r.rating | titlecase }}</span>
    </div>
  </div>
</div>
