<div class="Quran-page white-rounded-shd">
      <div #quranPage class="Quran-text">
            <app-quran-line *ngFor="let line of pageLines" [line]="line" [highlightedAyah]="highlightedAyah" (ayahClicked)="highlightAyah($event)"></app-quran-line>
      </div>

      <div class="bottom-line"></div>
      <div class="pageNavigator">
            <app-surah-navigator [value]="pageNumber" [min]="surahMin" [max]="surahMax" 
                  (Onincrement)="increment()"
                  (Ondecrement)="decrement()" (Onmanual)="handleManualInput($event)">
            </app-surah-navigator>
      </div>
</div>

